.LivingRoom {
    -fx-background-image: url("../imgs/Board/livingroom.png");
    -fx-background-size: stretch;
}

.boardGame{
    -fx-background-image: url("../imgs/parquet.jpg");
    -fx-background-size: stretch;
}

.shelf{
    -fx-background-image: url("../imgs/Board/bookshelf.png");
    -fx-background-size: stretch;
}

.boxChooseTile{
    -fx-background-image: url("../imgs/Tabella.png");
}

.labelBackground{
    -fx-background-image: url("../imgs/base.jpg");
}

.chatBoxTop{
    -fx-background-color: #d9b38c;
}

.chatBackground{
    -fx-background-color:  #f4dfc6;
}

